#top-bar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

#site-title {
  width: 80vw;
  text-align: left;
}

#login-button {
  height: 50px;
  margin-right: 10vw;
  text-align: right;
}

#myChart {
  width: 100%;
  height: 400px;
}

.chart-container {
  width: 60%;
  max-width: 1000px;
  margin: auto;
}

#login-button {
  display: inline-block;
  padding: 10px 16px;
  margin: 5px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

#login-button:hover {
  background-color: #0056b3;
  color: white;
  text-decoration: none;
}

h1 {
  color: #b14646;
  /* Text color (dark gray) */
  background-color: #f4f4f4;
  /* Background color (light gray) */
  padding: 10px;
  /* Add padding for spacing */
}

/* Style for section headings */
h2 {
  color: #0f0f0f;
  background-color: #f4f4f4;
  /* Text color (medium gray) */
}

/* Style for forms */
form {
  margin-bottom: 20px;
  /* Add margin bottom for spacing between forms */
}

/* Style for input fields */
input {
  padding: 5px;
  /* Add padding for spacing */
  border: 1px solid #ccc;

  /* Add border */
}

/* Style for buttons */
button {
  padding: 5px 10px;
  /* Add padding for spacing */
  background-color: #007bff;
  /* Background color (blue) */
  color: #fff;
  /* Text color (white) */
  border: none;
  /* Remove border */
  cursor: pointer;
  /* Add cursor pointer on hover */
}

/* Style for finance breakdown section */
#financeBreakdown {
  background-color: #f9f9f9;
  /* Background color (light gray) */
  padding: 10px;
  /* Add padding for spacing */
}

#login-button {
  display: inline-block;
  padding: 10px 16px;
  margin: 26px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

#login-button:hover {
  background-color: #0056b3;
  color: #ffffff;
  text-decoration: none;
}
